/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center-align container content */
}

/* Button styles */
button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.back-button {
    margin-bottom: 10px;
}

.submit-button {
    margin-top: 10px;
}

.button-container {
    text-align: center; /* Center-align button */
}

/* View page specific styles */
#searchBox {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#categoryFilter {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#itemsList {
    margin-top: 20px;
}

.item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.item span {
    font-weight: bold;
    display: block;
}

.item button {
    margin-top: 5px;
}
